#menu-principal {
    background: #85CEC0;
    color: white;
    margin-top: -20px;
    margin-left: 100px;
}

#bloque-principal {
    min-height: 700px;
    background: #000;
    background-image: url("../../img/photos/fondo1.jpg");
    background-size: cover;
    background-position: center;
    border:10px solid #85CEC0;
}

#insta-icon {
    width: 45px;
}

#fb-icon {
    width: 45px;
}

#nosotros {
    padding: 40px;
}

.section-lg {
    
}